<div class='dev__modal'>
  <button class='dev__modal--close' data-modal-close>
    <svg class='dev__icon' width='30' height='30'>
      <use href='{{closeSvg}}#card-btn-close'></use>
    </svg>
  </button>
  <h1 class='dev__title'>Filmoteka
    <svg
      class='headerr__icon logo animate__animated animate__flip animate__slower animate__infinite'
      width='24'
      height='24'
    >
      <use href='{{closeSvg}}#header-logo'></use>
    </svg>
  </h1>
  <div class='dev__box'>

    <div class='dev__me'>
      <a
        class='dev__link'
        href='https://www.facebook.com/profile.php?id=100079733889796'
        target='_blank'
      >
        <svg class='my__social' width='28' height='28'>
          <use href='{{closeSvg}}#icon-facebook'></use>
        </svg>
      </a>
      <a class='dev__link' href='https://github.com/Dmytro1117' target='_blank'>
        <svg class='my__social' width='28' height='28'>
          <use href='{{closeSvg}}#icon-github'></use>
        </svg>
      </a>
      <a
        class='dev__link'
        href='https://www.linkedin.com/in/moiseienkodmytro/'
        target='_blank'
      >
        <svg class='my__social' width='28' height='28'>
          <use href='{{closeSvg}}#icon-linkedin'></use>
        </svg>
      </a>

    </div>
    <img class='me__photo' src='{{photoPng}}' alt='Moiseienko' />
  </div>
</div>